node_modules
package-lock.json
public/build/*

##Latex
documentacion/*.aux
documentacion/*.bcf
documentacion/*.bit
documentacion/*.blg
documentacion/*.bbl
documentacion/*.lof
documentacion/*.log
documentacion/*.lot
documentacion/*.glo
documentacion/*.glx
documentacion/*.gxg
documentacion/*.gxs
documentacion/*.idx
documentacion/*.ilg
documentacion/*.ind
documentacion/*.out
documentacion/*.url
documentacion/*.svn
documentacion/*.toc
documentacion/*.synctex.gz
documentacion/*.pdf
documentacion/*.run.xml